<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>

        <div v-if="products.length > 0">
            
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <select v-model="filtros.estado" class="form-control form-control-sm">
                            <option value="1">Activado</option>
                            <option value="0">Desactivado</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group-sm">
                        <button type="button" @click="getProducts()" class="btn btn-primary btn-sm" aria-label="Left Align">
                            Cargar Productos
                        </button>
                    </div>
                </div>
            </div>

            <div class="row table-responsive">

                <table class="table table-responsive table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Precio</th>
                            <th>estado</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="product in products">

                            <td style="vertical-align: middle;">
                                {{ product.nombre }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ product.precio }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ product.estado }}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5" @paginate="getProducts()"></pagination>
        </div>

        

</template>

<script>
    import Pagination from './../common/Pagination.vue';
    export default {
        //components: pagination,
        components: {
            Pagination,
        },
        /*
         * The component's data.
         */
        data() {
            return {
                products: [],
                filtros:{
                    estado:1
                },
                pagination:{
                    current_page:1
                }
            };
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            /**
             * Prepare the component (Vue 2.x).
             */
            prepareComponent() {
                this.getProducts();
            },

            /**
             * Get all Products
             */
            getProducts() {
                var query = '?page='+this.pagination.current_page + '&estado='+this.filtros.estado;
                axios.get('/api/products' + query )
                        .then(response => {
                            this.pagination = response.data;
                            this.products = response.data.data;
                        });
            }
        }
    }
</script>
