<template>

    <nav aria-label="navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item" :class="(pagination.current_page <= 1) ? 'disabled' : ''">
                <a class="page-link" @click.prevent="changePage(1)" >1</a>
            </li>

            <li class="page-item" :class="(pagination.current_page <= 1) ? 'disabled' : ''"  >
                <a class="page-link" @click.prevent="changePage(pagination.current_page - 1)" >Previous</a>
            </li>

            <!-- en caso que pages.lenght >5 y pages[0]!=1 -->
            <li class="page-item disabled" v-if="pagination.last_page > 4 && pages[0]!=1">
                <a class="page-link">...</a>
            </li>

            <li class="page-item" v-for="page in pages" :class="isCurrentPage(page) ? 'active' : ''" >
                <a class="page-link"  @click.prevent="changePage(page)">{{ page }}</a>
            </li>


            <!-- en caso que pages.lenght >5 y pages[0]==1 -->
            <li class="page-item disabled" v-if="pagination.last_page > 4 && pages[5]!=pagination.last_page ">
                <a class="page-link">...</a>
            </li>

            <li class="page-item" :class="(pagination.current_page >= pagination.last_page) ? 'disabled' : ''" >
                <a class="page-link" @click.prevent="changePage(pagination.current_page + 1)" >Next page</a>
            </li>

            <li class="page-item" :class="(pagination.current_page >= pagination.last_page) ? 'disabled' : ''" >
                <a class="page-link" @click.prevent="changePage(pagination.last_page)" >{{ pagination.last_page }}</a>
            </li>
            
        </ul>
    </nav>

</template>

<style>
    .pagination {
        margin-top: 40px;
    }
</style>

<script>
    export default {
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    //si es igual a 4 tomar el ultimo
                    if (pages.length==5) {
                        pages.push(from);
                        from = to;
                    }
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>